/* Variables */
:root {
    /* colors */
    --color-grey-text: #777;
    --color-light-grey: #ececec;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    font-size: 62.5%;
} */